<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883798307148-19j8fkqndigd0up5avb4cs7kpph3spqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883798307148-19j8fkqndigd0up5avb4cs7kpph3spqa</string>
	<key>API_KEY</key>
	<string>AIzaSyBoHDmPwgBbgYNDmeRDRVcVW7xvUT7tptw</string>
	<key>GCM_SENDER_ID</key>
	<string>883798307148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codeday12.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-4eebf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-4eebf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883798307148:ios:68f2e16aa801c1fe6e5fe9</string>
</dict>
</plist>